.container {
    color: var(--textColor);
    font-family: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: calc(95vh - 100px);

    .textPresentation {
        margin-bottom: 2rem;
        p {
            margin: 2px;
            font-size: 1.2rem;
        }
        a {
            font-size: 1.8rem;
            margin-right: 2rem;
            cursor: pointer;
            text-decoration: none;
        }
        a:hover {
            color: #766bbf;
        }
    }

    img {
        max-width: 100%;
        width: 500px;

        pointer-events: none;
        user-select: none;

        box-shadow: var(--dark-secundary-backgroundColor) 0px 5px 0px;
    }
}

.button {
    cursor: pointer;
    border: 0;
    color: var(--textColor);
    background: var(--titleColor);
    padding: 18px 32px;
    border-radius: 6px;
    font: 600 22px var(--text);
    box-shadow: 0 6px 0 #5c50a8;
    //5e52a8
    transition: 0.3s;

    display: flex;

    margin-top: 20px;
    margin-bottom: 20px;

    font-size: inherit;
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0 3px 0 var(--primaryColor);
}

.dark {
    a,
    p {
        color: var(--dark-textColor);
    }
}

.light {
    a,
    p {
        color: var(--light-textColor);
    }
}

//respoive
@media (max-width: 1060px) {
    .container {
        img {
            width: 400px;
        }
    }
}

@media (max-width: 930px) {
    .container {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 10rem;

        .textPresentation {
            a{
                margin-right: 0.8rem;
            }
        }

        .button {
            margin: auto;
            display: block;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 700px) {
    .container {
        margin-top: 2rem;
    }  
}

@media (max-width: 350px) {
    .container {
        .textPresentation {
            p {
                font-size: 1rem;
            }
            a {
                font-size: 1.5rem;
            }
        }
    }  
}
