.background {
    font-size: 26px;
    font-weight: 800;
    font-family: var(--text);

    color: var(--dark-secundary-backgroundColor);

    position: absolute;
    z-index: -1;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
