.childrenContainer {
    margin-top: 72px;
}

.children {
    width: 80vw;

    word-break: break-all;

    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 700px) {
    .childrenContainer {
        margin-top: 0px;
    }
}