:root {
  //Colors
  --primaryColor: #675DA6;
  --titleColor: #766BBF;

  //Fonts
  --title: 'DynaPuff';
  --text: 'Open Sans';

  --background: #111;
  --background-secondary: #141920;
  --border: #191919;
  --button-border: #5c50a8;

  --text-primary: #ffffff;
}

[data-theme='dark'] {
  --background: #111;
  --background-secondary: #141920;
  --border: #191919;

  --text-primary: #ffffff;
}

[data-theme='light'] {
  --background: #f2f5fa;
  --background-secondary: #ffffff;
  --border: #d2d8e4;
  --text-primary: #333333;
}

[data-theme='hacker'] {
  --primaryColor: #00ffff;
  --titleColor: #00ffff;

  --background: #000000;
  --background-secondary: #0a0a0a;
  --border: #0f0e0e;
  --text-primary: #00ff00;
  --button-border: #22caca;

  --title: 'VT323', monospace;
  --text: 'Orbitron', sans-serif;
}

[data-theme='ocean'] {
  --background: #005c80;
  --background-secondary: #0080a6;
  --border: #ffae03;
  --text-primary: #ffffff;
  --title: 'Bebas Neue', sans-serif;
  --text: 'Roboto', sans-serif;
}

[data-theme='cosmic'] {
  --background: #221133;
  --background-secondary: #331144;
  --border: #ff0077;
  --text-primary: #ffffff;
  --title: 'Montserrat', sans-serif;
  --text: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media (max-width: 700px) {
  html {
    scroll-padding-top: 0;
  }
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--background);
}