html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--dark-backgroundColor);
}

:root {
  //Colors
  --primaryColor: #675DA6;
  --titleColor: #766BBF;

  //Dark theme
  --dark-textColor: #ffffff;
  --dark-backgroundColor: #111;
  --dark-secundary-backgroundColor: #191919;
  
  //light theme
  --light-textColor: #333;
  --light-backgroundColor: #ffffff;
  --light-secundary-backgroundColor: #f4f8fd;

  //Fonts
  --title: 'DynaPuff';
  --text: 'Open Sans';
}