:root {
  //Colors
  --primaryColor: #675DA6;
  --titleColor: #766BBF;

  //Fonts
  --title: 'DynaPuff';
  --text: 'Open Sans';

  --background: #111;
  --background-secondary: #141920;
  --border: #191919;

  --text-primary: #ffffff;
}

[data-theme='dark'] {
  --background: #111;
  --background-secondary: #141920;
  --border: #191919;

  --text-primary: #ffffff;
}

[data-theme='light'] {
  --background: #ffffff;
  --background-secondary: white;
  --border: white;

  --text-primary: #333;
}


html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--background);
}