.skillsContainer {
    display: inline-block;
    min-height: 650px;
    width: 100%;

    .title {
        text-align: center;
        font-size: 30px;
        font-family: var(--title);
        color: var(--titleColor);
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-top: 15%;
        width: 100%;

        color: white;

        .skillsText {
            font-family: var(--text);

            font-size: 12px;
            padding: 20px 30px 20px;

            border-radius: 10px;

            margin-left: 1rem;
            margin-bottom: 10px;

            i {
                font-size: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span {
                margin-top: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.dark {
    i,
    span {
        color: var(--dark-textColor);
    }

    a {
        background-color: var(--dark-secundary-backgroundColor);
    }
}

.light {
    i,
    span {
        color: var(--light-textColor);
    }
    
    a {
        background-color: var(--light-backgroundColor);
    }
}
