.container {
    color: var(--textColor);
    font-family: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: calc(95vh - 100px);

    .textPresentation {
        margin-bottom: 2rem;
        p {
            margin: 2px;
            font-size: 1.2rem;
        }
        .icons {
            font-size: 1.8rem;
            margin-right: 2rem;
            cursor: pointer;
            text-decoration: none;
        }
        a:hover {
            color: #766bbf;
        }

        .copyEmail {
            position: relative;
            display: inline-block;
        }
        
        .copyEmail sup {
            font-size: 14px;
            visibility: hidden;
            width: 85px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 110%;
            left: 148%;
            margin-left: -75px;
            opacity: 0;
            transition: 0s .6s;
        }
        
        .copyEmail sup::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .copyEmail:active sup {
            visibility: visible;
            opacity: 1;
            transition: 0s;
        }
    }
}

.background {
    position: absolute;
    z-index: -999;
}

.dark {
    a,
    p {
        color: var(--dark-textColor);
    }
}

.light {
    a,
    p {
        color: var(--light-textColor);
    }
}

//respoive
@media (max-width: 1060px) {
    .container {
        img {
            width: 400px;
        }
    }
}

@media (max-width: 930px) {
    .container {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 10rem;

        .textPresentation {
            .icons {
                margin-right: 0.8rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .container {
        margin-top: 2rem;
    }
}

@media (max-width: 350px) {
    .container {
        .textPresentation {
            p {
                font-size: 1rem;
            }
            .icons {
                font-size: 1.5rem;
            }
        }
    }
}
