.containerFooter {
    margin-top: 26rem;
    padding: 20px 0;

    font-family: var(--text);

    background-color: var(--background-secondary);

    .containerIcons {
        text-align: center;
        padding-bottom: 25px;

        color: var(--text-primary);
    }

    ul li a {
        color: var(--text-primary);
    }

    .copyright {
        margin-top: 50px;
        text-align: center;
        font-size: 13px;

        color: var(--text-primary);
    }

    .copyEmail {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }
    
    .copyEmail sup {
        font-size: 14px;
        visibility: hidden;
        width: 85px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 120%;
        margin-left: -75px;
        opacity: 0;
        transition: 0s .6s;
    }
    
    .copyEmail sup::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    
    .copyEmail:active sup {
        visibility: visible;
        opacity: 1;
        transition: 0s;
    }
}

.containerIcons a {
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 47px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 15px;
    opacity: 0.75;
}

.containerFooter .containerIcons a:hover {
    color: var(--titleColor);
    border-color: var(--titleColor);
}

.containerFooter ul {
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6px;
    margin-bottom: 0px;
    text-align: center;
}

.containerFooter ul li a {
    text-decoration: none;
    opacity: 0.8;
}

.containerFooter ul li {
    display: inline-block;
    padding: 0 15px;
}

.containerFooter ul li a:hover {
    color: var(--titleColor);
}

@media (max-width: 700px) {
    .containerFooter {
        margin-bottom: 4rem;
    }
}

@media (max-width: 320px) {
    .containerFooter ul {
        display: flex;
    }
}
