.container {
    position: relative;
    width: 100%;

    .computer {
        position: absolute;
        width: 92.5%;
        height: 64%;
    
        top: 0;
        left: -2;
        margin-top: 1.2rem;
        margin-left: 1.2rem;
    }
    img {
        max-width: 100%;
        width: 500px;

        pointer-events: none;
        user-select: none;

        box-shadow: var(--background-secondary) 0px 5px 0px;
    }

    .terminal {
        min-height: 260px;
        max-height: 260px;
        overflow: auto;

        font-family: Inconsolata;
        color: #cccccc;
        background-color: #0c0c0c;
        
        list-style-type: none;
        
        .content {
            margin-left: 5px;
        }

        input[type="text"] {
            color: #cccccc;
            background-color: #0c0c0c;
            font-family: Inconsolata;
            font-size: 16px;
            border: none;
            outline: none;
        }
    }
}

.terminal::-webkit-scrollbar {
    width: 5px;
}

.terminal::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

.terminal::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

.terminal::-webkit-scrollbar-button {
    display: none;
}

.terminal::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
}

.errorItem {
    margin-bottom: 15px;
}


@media (max-width: 1060px) {
    .container {
        .computer {
            .terminal {
                margin-top: 1.8vh;
                margin-left: 1.4vw;
            }
            
        }
        img {
            width: 400px;
        }
    }
}
